---
eleventyComputed:
  backgroundImage: "/images/snail_shimmer_smooth.gif"
  borderColor: rgba(255, 100, 255, 1)
  backgroundColor: rgb(0, 0, 0)
  shoulderBackground: rgba(255, 255, 255, 0.8)
---

<html>
  <head>
    <style>{% include "./_src/css/base.css" | url %}</style>
    <title>
      {{ site.name }}{% if title %} - {{ title }}{% endif %}
    </title>
    <link
        rel="icon"
        type="image/gif"
        href="/images/alien_gills.gif" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Sono&family=Spectral:wght@600&family=Tinos:wght@700&family=Alegreya+Sans&family=Laila&family=Philosopher&display=swap" rel="stylesheet">
    <meta
        name="description" 
        content="
          {% if description %}
            {{ description }}
          {% else %}
            {{ site.description }}
          {% endif %}" >
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  </head>
  <body>
    <header>
			<div class="title">
			<h1>{{ title }}</h1>
			</div>
			<div class="snail">
			<img src="{{ backgroundImage }}"/>
			</div>
		</header>
		<div class="nav-container">
      <div class="nav-inner">
        <ul class="justified-list">
          <li><a href="/">Página Principal</a></li>
          <li><a href="/about/">Sobre Mí</a></li>
          <div class="dropdown">
            <li><a href="/chontakuros/">Chontakuros</a></li>
            <div class="dropdown-content">
              <a href="#">One bug</a>
              <a href="#">Two bug</a>
            </div>
          </div>
        </ul>
      </div>
      <div class="nav-border"><div class="inner">
			</div>
			</div>
    </div>
    <div class="shoulders">
      <main>
        {{ content | safe }}
      </main>
    </div>
		<footer>
			construido con <a href="https://www.11ty.dev">Eleventy</a>
		</footer>
  </body>
<html>
